<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Raptor Asbtracción Doc</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{{ asset('bootstrap/v4/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bootstrap/js/google-code-prettify/prettify.css') }}" rel="stylesheet">
        <link href="{{ asset('Raptor/css/icons_rpt.css') }}" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 50px;
            }


            /*
             * Global add-ons
             */

            .sub-header {
                padding-bottom: 10px;
                border-bottom: 1px solid #eee;
            }

            /*
             * Top navigation
             * Hide default border to remove 1px line.
             */
            .navbar-fixed-top {
                border: 0;
            }

            /*
             * Sidebar
             */

            /* Hide for mobile, show later */
            .sidebar {
                display: none;
            }
            @media (min-width: 768px) {
                .sidebar {
                    position: fixed;
                    top: 51px;
                    bottom: 0;
                    left: 0;
                    z-index: 1000;
                    display: block;
                    padding: 20px;
                    overflow-x: hidden;
                    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
                    background-color: #f5f5f5;
                    border-right: 1px solid #eee;
                }
            }

            /* Sidebar navigation */
            .nav-sidebar {
                margin-right: -21px; /* 20px padding + 1px border */
                margin-bottom: 20px;
                margin-left: -20px;
            }
            .nav-sidebar > li > a {
                padding-right: 20px;
                padding-left: 20px;
            }
            .nav-sidebar > .active > a,
            .nav-sidebar > .active > a:hover,
            .nav-sidebar > .active > a:focus {
                color: #fff;
                background-color: #428bca;
            }


            /*
             * Main content
             */

            .main {
                padding: 20px;
            }
            @media (min-width: 768px) {
                .main {
                    padding-right: 40px;
                    padding-left: 40px;
                }
            }
            .main .page-header {
                margin-top: 0;
            }


            /*
             * Placeholder dashboard ideas
             */

            .placeholders {
                margin-bottom: 30px;
                text-align: center;
            }
            .placeholders h4 {
                margin-bottom: 0;
            }
            .placeholder {
                margin-bottom: 20px;
            }
            .placeholder img {
                display: inline-block;
                border-radius: 50%;
            }





        </style>




        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="../assets/js/html5shiv.js"></script>
        <![endif]-->

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('assets/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('assets/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('assets/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('assets/ico/apple-touch-icon-57-precomposed.png') }}">
        <link rel="shortcut icon" href="{{ asset('Raptor/ico/raptor-32.png') }}">
    </head>

    <body class="fondo">

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark raptor-panel">
            <a class="navbar-brand" href="{{ path("_raptor_apidoc") }}"><i style="margin-right: 5px;"><img src="{{ asset("Raptor/v3/img/logo-php-extend.png") }}" height="35"></i> Doc {{ version }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar flex-column">
                        <li class="nav-item"><a class="nav-link" href="#">Introducción <span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#Configuracion">Configuración</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Herramientas">Herramientas</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Bundles">Bundles</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Componentes">Creación de componentes</a></li>
                    </ul>

                </div>


                <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
                    <h1 class="page-header">Introducción a componentes de abstracción</h1>
                    <p>Para Raptor PHP 2 estos componentes siguen siendo quienes garantizan en mayor medida la abstracción necesaria en el desarrollo. La inclusión de nuevos componentes con nuevas funciones tributa a esa mejora necesaria. Dentro de los nuevos componentes aparece Interactive Guide encargado de las guías interactivas de usuario.</p>
                    <p>Para esta versión aparece nuevamente Syntarsus Security Module con muchos cambios, inclusión de nuevas características, mejoras en las técnicas de protección contra ataques y los procesos de identificación-autenticación, autorización y auditoría.  Además con un mejor soporte a las rutinas de instalación y exportación.</p>
                    <p>El nuevo componente de instalación garantiza de forma visual la importación e instalación de nuevos componentes o la instalación directa desde el repositorio interno existente. Para dar soporte a todo este proceso se implantó en la estructura de bundles el concepto de manifiesto de instalación. Este concepto determina el estado en que se encuentra el bundle y directivas de instalación para Raptor. De esta manera el sistema implementa también la detección e instalación automática de bundles y la remoción de falsos positivos o bundles fantasmas.</p>
                    <hr>
                    <h3 id="Configuracion">Configuración</h3>
                    <p>Para la configuración de Raptor debemos acceder a la opción Configuration en el panel de control.</p>
                    <p>Al igual que la versión anterior se configura las credenciales para el acceso a la base de datos, así como otros parámetros de seguridad.</p>
                    <img src="{{ asset("Raptor3/DocVersion3/img/rp-1.png") }}">
                    <br><br>
                    <b>Notas.</b>
                    <p>El nombre especificado de la base de datos deberá estar creado para establecer la conexión.</p>
                    <p>En cada interfaz la guía interactiva te explicará algunos de los elementos que debes saber acerca de la función en específico.</p>

                    <hr>
                    <h3 id="Herramientas">Herramientas</h3>
                    <p>Las herramientas representan el primer paquete de abstracción donde se encuentran las funcionalidades de limpiado de cache, estadística de rendimiento, el publicador de servicios SOAP y un generador de iconos añadido en esta nueva versión.</p>

                    <h4 >Cache</h4>
                    <p>La funcionalidad de limpiado de caché es bastante utilizada dentro del sistema puesto que cada cambio de configuración que se haga dentro de nuestro código necesita del llamado de esta función para el re-cacheo de la información.</p>
                    <p>Es posible evitar este comportamiento obligando al ConfigurationLoader a cargarse en cada ejecución, colocando este llamado en el método de inicio en la clase Main</p>
                    <img src="{{ asset("Raptor3/DocVersion3/img/tool.png") }}">

                    <h4 >Servicios SOAP</h4>
                    <p>El Soap Service Publisher te permitirá configurar la url de publicación y la reconstrucción de la clase principal de acuerdo a los servicios públicos declarados en tu proyecto.</p>

                    <h4 >Generador iconos</h4>
                    <p>Aunque está en una versión beta es bastante útil en la generación de iconos que no se encuentren declarados en la librería de iconos de Raptor.</p>

                    <hr>
                    <h3 id="Bundles">Bundles</h3>
                    <p>Las opciones que aquí aparecen representan el segundo paquete de abstracción donde se generan todos elementos relacionados a los componentes, desde vistas, modelos, recursos web, creación, instalación y exportación de componentes.</p>
                    <img src="{{ asset("Raptor3/DocVersion3/img/bundle.png") }}">

                    <h4 >Generación de componentes</h4>
                    <p>Esta funcionalidad permite la gestión de vendors y bundles dentro del sistema, así como la exportación de componentes que tengan declarados manifiestos de instalación.</p>

                    <h4 >Generadores Doctrine</h4>
                    <p>Los generadores de doctrine se encargan de la generación a través del mapeo de modelos y esquemas definidos.</p>

                    <h4 >Generador de interfaces</h4>
                    <p>El UI generator permite la creación de plantillas de interfaces tanto para Extjs 4 como para Bootstrap 3 dentro de nuestros componentes. Las plantillas Ext se encuentran enlazadas y configuradas para su uso en el momento de la creación, además son creadas de acuerdo a la arquitectura MVC planteada por Sencha, solamente necesitamos llamarlas y editarlas a nuestro propósito.</p>

                    <h4 >Publicador de recursos</h4>
                    <p>Esta funcionalidad te permite una vez terminado el proyecto la publicación de los recursos web de tu bundle a través de las directivas establecidas en el compiler del componente. El compiler establece la configuración de minificación de nuestros recursos. Esta operación solo se realiza en la liberación ya que Raptor en modo desarrollo copia los recursos pre-procesados hacia su locación en web.</p>

                    <h4 >Instalador de componentes</h4>
                    <p>Dentro de esta funcionalidad encontrarás facilidades para la importación e instalación de componentes, tanto de bundles propios previamente exportados, como de los bundles definidos en el repositorio interno de Raptor. Por defecto este repositorio contiene el componente de seguridad Syntarsus que puede ser instalado si se requiere.</p>


                    <hr>
                    <h3 id="Componentes">Creación de componentes</h3>
                    <p>Una vez explicado las funciones en los paquetes de abstracción podemos empezar con la demostración de la creación de un componente. Para esto vamos a la opción bundles y pulsamos sobre Generate Bundle.</p>
                    <p>A continuación debe aparecer una interfaz como esta.</p>
                    <img src="{{ asset("Raptor3/DocVersion3/img/comp.png") }}">
                    <p>Los componentes como dije siempre estarán agrupados por vendors, así que si no utilizamos los vendors registrados debemos crear uno y colocar nuestro bundle. En este caso existe un vendors examples que podemos utilizar para este ejemplo.</p>
                    <p>Para crear el bundle marcamos en el árbol el vendor donde crearemos el bundle y pulsamos en Create. Luego aparecerá una pequeña ventana que nos pedirá el nombre del bundle que queremos crear.</p>
                    <img src="{{ asset("Raptor3/DocVersion3/img/ejemplobundle.png") }}">
                    <p>Como se puede ver en la imagen anterior solo es necesario indicarle el nombre ya que automáticamente se le coloca el sufijo bundle. Luego pulsamos aceptar y el sistema debe darte notificación de que todo salió como se debía.</p>
                    <p>Ahora podemos ir a nuestro proyecto en la carpeta src/examples/MiEjemploBundle y verificar que todo está bien.</p>
                    <p>Una vez creado el componente hagamos un paréntesis para hablar de su estructura.</p>

                </div>
            </div>
        </div>




        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="{{ asset('bootstrap/js/all.js') }}"></script>
        <script src="{{ asset('bootstrap/js/google-code-prettify/prettify.js') }}"></script>

        <script type="text/javascript" src="{{ asset('Raptor/js/raptor-core.js') }}"></script>
        <script type="text/javascript">
            $(document.body).ready(function () {
                window.prettyPrint && prettyPrint();
            });


        </script>
    </body>
</html>

